/* Reset gaya dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    background-color: #f4f4f4;
}


h1{
    /* font-family: 'Times New Roman', Times, serif; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
}

header {
    flex: 1;
    /* background: #333; */
    background: linear-gradient(140deg, #2a3132, #4e5c59);
    /* color: #fff; */
    color:white;
    /* padding: 1em; */
    padding: 1em;
    text-align: center;
}

header h1 {
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    font-size: 2em;  /* Ukuran font yang lebih kecil */
    margin-bottom: 0.4em;  /* Mengurangi jarak bawah judul */
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);  /* Bayangan teks untuk kesan 3D */
    transition: transform 0.3s ease-in-out;
    padding-top: 0.4em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    /* color: #fff; */
    color:white;
    text-decoration: none;
}
ul li {
    margin-top: 0.8em;
}

section {
    /* flex: 1;
    padding: 2em; */
    margin: 20px 0;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#home, #profil, #galeri, #kontak {
    margin-bottom: 1.2em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.gallery img {
    width: 275px;
    height: 210px;
    border-radius: 8px;
}

img:hover {
    transform: scale(1.2); /* Membesarkan gambar saat hover */
}

a {
    color: white; /* Warna link putih */
    text-decoration: none; /* Menghilangkan garis bawah */
    font-size: 20px;/* Memberikan padding */
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    text-decoration: underline; /* Menambahkan garis bawah saat hover */
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {
    header {
        padding: 2em 1em;  /* Penyesuaian padding di perangkat mobile */
    }

    header h1 {
        font-size: 2em;  /* Ukuran font lebih kecil di perangkat mobile */
    }
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}
table a {
    font-family: Arial, sans-serif; /* Mengubah font */
    font-size: 18px; /* Ukuran font */
    text-decoration: none; /* Menghilangkan garis bawah */
/
}


footer {
    background: linear-gradient(140deg, #2a3132, #4e5c59);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    /* margin-top: 2em; */
}
